{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body class="blog-body">
    <header>
        <div class="container">
            <div class="row align-items-center blok-header">
                <div class="col-md-6 align-items-center company-name">
                    Alpha Tech Academy
                </div>
                <div class="col-md-6">
                    <div class="header-nav">
                        <ul class="header-nav__list list-unstyled">  
                            <li> 
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}" class="active-page">Blog</a>
                            </li>
                            <li>
                                <a href="{% url 'mentor' %}">Mentor</a>
                            </li>
                            <li>
                                <a href="{% url 'mentee' %}">Mentee</a>
                            </li>
                            <li>
                                <a href="{% url 'author' %}">Author</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container-fluid left-right-container page-title-background">
            <div class="container page-title">
                {% load static %}
                <div class='company-logo'><img src="../../static/assets/img/title/alpha-logo.png"" alt="Gambar Logo"></div>
                <h1>Alpha Tech Academy Blog</h1>
                <p>Alpha Tech Academy is a tech talent incubator 
                    that gives everyone (even non IT background)<br>
                    a chance to be a professional Tech Talent within 3 months.
                  </p>   
            </div>          
        </div>
        <div class="container left-right-container">
            <div class="row">
                <div class="col-md-12 body-blog-content">
                    <div class="body-blog-content-row">
                        <img src="{{blogs.foto_blog}}" alt="" class="blog-content-img">
                        <div class="sudut-foto">
                            <p>{{blogs.tanggal}}</p>
                            <p class="comment">comment 0</p>
                        </div>
                        <div class="article-title">{{blogs.judul_blog}}</div>
                        <div>
                        <article>
                            {{blogs.berita}}
                        </article>
                        </div>
                    </div>
                    </div>
                </div>    
            </div>    
        </div>                  
    </section>
{% endblock %}
{% block content1 %}
</body>
</html>
{% endblock %}